.topbar-container {
  position: sticky;
  top: 0;
  height: 50px;
  background: #053545;
  color: #86cdd9;
  display: flex;
  align-items: center;
  width: 100%;
}
.topbar-left{
  flex: 3;
}
.topbar-left h3{
  margin-left: 15px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
}

.topbar-center{
  flex: 5;
  
  text-align: center;
}
input{
  width: 70%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 15px;
  color: #053545 ;
}
.topbar-right{
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.topbarLinks{
  display: flex;
  align-items: center;
}
.topbarLinks h3{
  margin: 0 10px;
  cursor: pointer;
}

.topbarIcons{
  display: flex;
  align-items: center;
}

.topbarIconItem{
  margin-left: 15px;
  position: relative;
  cursor: pointer;
}

.topbarIconItem span{
  position: absolute;
  bottom: 15px;
  left: 12px;
  background-color: red;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.topbarImg{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  /* margin-left: 40px; */
}


/* #179bb0 
   #053545
   #86cdd9*/